<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Theme Switcher</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
    aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
      <button type="button" class="btn btn-secondary">Themes</button>
      <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false"></button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
          <a class="dropdown-item" href="#" (click)="setTheme('cosmo')">Cosmo</a>
          <a class="dropdown-item" href="#" (click)="setTheme('cyborg')">Cyborg</a>
          <a class="dropdown-item" href="#" (click)="setTheme('darkly')">Darkly</a>
          <a class="dropdown-item" href="#" (click)="setTheme('flatly')">Flatly</a>
          <a class="dropdown-item" href="#" (click)="setTheme('materia')">Materia</a>
          <a class="dropdown-item" href="#" (click)="setTheme('pulse')">Pulse</a>
          <a class="dropdown-item" href="#" (click)="setTheme('slate')">Slate</a>
          <a class="dropdown-item" href="#" (click)="setTheme('united')">United</a>
        </div>
      </div>
    </div>
  </div>

</nav>